@font-face {
      font-family: "Quicksand";
      src: url('./font/Quicksand_Bold_Oblique.otf');
      font-weight: bold;
      font-style: normal;
      //font-stretch: ultra-expanded;

}

.nav-base {
	height: 76px;
	background-color: #f5f5f5; /* layer fill content */
	-moz-box-shadow: 0 1px 0 #d8d8d8, inset 0 -1px 0 rgba(255,255,255,.75); /* drop shadow and inner shadow */
	-webkit-box-shadow: 0 1px 0 #d8d8d8, inset 0 -1px 0 rgba(255,255,255,.75); /* drop shadow and inner shadow */
	box-shadow: 0 1px 0 #d8d8d8, inset 0 -1px 0 rgba(255,255,255,.75); /* drop shadow and inner shadow */
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.1) 0%, rgba(255,255,255,.1) 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.1) 0%, rgba(255,255,255,.1) 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.1) 0%, rgba(255,255,255,.1) 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, rgba(0,0,0,.1) 0%, rgba(255,255,255,.1) 100%); /* gradient overlay */
}

.wrap-secondary-nav {
	@extend .nav-base;
}

.secondary-nav {
	max-width: $size;
	@extend .nav-base;
	margin: 0 auto;
	overflow: hidden;
	@extend .clearfix;
	position: relative;
	display: flex;
	//overflow: auto;
	//> div{
	//display: inline;}
}
.logo{

	position: relative;
	height: 76px;
	display: table;
	margin: 16px 8px;
	.paypaul {
		color: #004a80; /* text color */
		font-family: "Quicksand";
		font-size: 34px;
		font-weight: bold;
		text-shadow: 0 1px 0 rgba(255,255,255,.58); /* drop shadow */
	}
	.tm {
		position: absolute;
		top: 6px;
		right: -16px;
		color: #0073bf; /* text color */
		font-family: "Quicksand";
		font-size: 7px;
		font-weight: bold;
	}

}
.buy,
.sell,
.manage {

	color: #676769; /* text color */
	font-family: "PTSans", sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff; /* drop shadow */

	margin: 25px 20px;
	padding: 4px 1px 1px 22px;
	display: block;
	cursor: pointer;
	position: relative;
	&:after {
		content: " ";
		@extend .shape;
		position:absolute;
		top: 11px;
		right: -11px;
		
	//right:0;
	}
	&:before {
		content: " ";
		@extend .divider;
		position:absolute;
		bottom: -10px;
		left: -5px;
	}

}
 .buy{
 	margin: 25px 20px 25px 50px;
 	padding: 4px 1px 1px 20px;
 }

.shape {
	width: 7px;
	height: 4px;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #c2c2c2; /* layer fill content */
	-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 0 rgba(0,0,0,.16); /* drop shadow and inner shadow */
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 0 rgba(0,0,0,.16); /* drop shadow and inner shadow */
	box-shadow: 0 1px 0 #fff, inset 0 1px 0 rgba(0,0,0,.16); /* drop shadow and inner shadow */
}
.divider {
	width: 2px;
	height: 46px;
	box-shadow: inset 1px 0px 0  #d8d8d8, inset -1px 0px 0 rgba(255,255,255,.75); /* drop shadow and inner shadow */

}
